.invitation-container {
  position         : relative;
  display          : flex;
  -webkit-box-pack : center;
  justify-content  : center;
  -webkit-box-align: center;
  align-items      : center;
  width            : 100%;
  max-width        : initial;
  padding          : 0px;
  margin           : 0px;
  height           : 100%;
}

.overlay {
  mask             : url(https://static.rfstat.com/renderforest/images/website_maker_images/components/component-images/text14-3.4.0.svg) -2px top / auto 100% repeat-x;
  background-color : rgba(101, 108, 100, 0.95);
  width            : 100%;
  max-width        : 4000px;
  padding          : 80px 0px;
  box-sizing       : border-box;
  text-align       : center;
  display          : flex;
  flex-direction   : column;
  -webkit-box-pack : center;
  justify-content  : center;
  -webkit-box-align: center;
  align-items      : center;
  word-break       : break-word;
  height           : 80%;
}


.invitation-content {
  position  : relative;
  z-index   : 2;
  overflow-y: scroll;
}

.small-text {
  color    : #FFFFFF80;
  font-size: 1.5rem;
}

.large-text {
  font-size  : 3rem;
  font-weight: bold;
  color      : white;
}